
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>This is the home page (from the view)</p>
        <p>@ViewBag.Greeting and welcome to the home page.</p>
    </div>
</body>
</html>
